<!DOCTYPE html>
<html>

<head>
    <title>E-sim Unofficial API</title>
</head>

<body>
<h1>E-sim unofficial API</h1>
<hr>
<h2>Available base links:</h2>
<ul>{% for link in esim_links %}
    <li>{{ link }}</li>
{% endfor %}</ul>

<h2>Additional links (from my database):</h2>
<ul>{% for link in not_esim_links %}
    <li>{{ link }}</li>
{% endfor %}</ul>
(I kept their format similar to the e-sim pages. Check the docstrings in the source code for more info)
<hr>
<h1>Usage:</h1>
<p>Add the following prefix to any of the above pages:
<p><a href="{{ base_url }}">{{ base_url }}</a>
<p><b>Example:</b>
<p><a href="{{ base_url }}https://alpha.e-sim.org/law.html?id=1">{{ base_url }}https://alpha.e-sim.org/law.html?id=1</a>
<hr>
<h1>Source Code:</h1>
<p><a href=https://github.com/akiva0003/e-sim-api>GitHub</a></p>
Powered by <a href=https://www.buymeacoffee.com/ripEsim>Akiva</a>
<hr>
<p><b>Keep in mind that each request takes twice as much as if you would scrape the html by yourself <br><br>
(once for the server to get the html and once for the server to send it to you) <br><br>
If you want faster response times, you can import the source using <a href=https://github.com/akiva0003/e-sim-game-scraper>this project</a>
</b>
<hr>
</body>

</html>